body {
  margin: 0;
}

.container {
  background-color: rgb(45, 97, 80);
  padding: 1rem;
  margin: 1rem;
}

.draggable {
  padding: 1rem;
  background-color: rgb(162, 107, 214);
  border: 1ps solid black;
  cursor: move;
}

.draggable .dragging {
  opacity: 0.1;
}